/* sub header */

.sub-header {
    height: 36px;
    padding: 0px 38px 0px 36px;
    background-color: #f5f5f5;
}

.sub-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.brand-menu {
    display: flex;
}

.brand-menu li {
    padding: 0px 12px;
    display: flex;
    align-items: center;
}

.brand-menu li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.user-ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: row;
}

.user-item {
    position: relative;
    display: flex;
    align-items: center;
}

.user-item a {
    display: block;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 40px;
    color: #111;
}

.user-item:nth-child(2):after {
    content: '';
    display: inline-block;
    width: 0.5px;
    height: 10px;
    background: #333;
    position: absolute;
    left: 0;
}

.user-item:nth-child(3):after {
    content: '';
    display: inline-block;
    width: 0.5px;
    height: 10px;
    background: #333;
    position: absolute;
    left: 0;
}

/* main header */

.main-header {
    position: relative;
    width: 100%;
    height: 60px;
    margin: auto 0;
    background: #fff;
    z-index: 121;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.main-header-inner {
    display: flex;
    width: 100%;
    background: #fff;
    height: 60px;
    box-sizing: border-box;
    justify-content: flex-end;
    transition: transform 0.15s ease;
}

.nk-gnb {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.main-item {
    display: inline-block;
}

.main-item a {
    display: block;
    padding: 18px 12px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
    border-bottom: 2px solid transparent;
    transition: border-color .1s,color .1s;
}